# Laravel & PHP

/vendor/
/node_modules/

# Environment files
.env
.env.backup
.env.local
.env.*.php

# Laravel specific
/storage/
    /app/public/
    /framework/
    /logs/
    /testing/
/bootstrap/cache/
/storage/app/
/storage/framework/
/storage/framework/cache/
/storage/framework/views/
/storage/framework/testing/
/storage/framework/sessions/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs and debug files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled files and caches
/public/hot
/public/storage
/public/mix-manifest.json
/public/css/
public/js/


